<table>
  <tr>
    <th>序号</th>
    <th>姓名</th>
    <th>用户名</th>
    <th>邮箱</th>
    <th>性别</th>
    <th>注册时间</th>
    <th>操作</th>
  </tr>
  <tr *ngFor="let teacher of teachers" >
    <td>{{teacher.id}}</td>
    <td>{{teacher.name}}</td>
    <td>{{teacher.username}}</td>
    <td>{{teacher.email}}</td>
    <td>
      <span *ngIf="teacher.sex">女</span>
      <span *ngIf="!teacher.sex">男</span>
    </td>
    <td>{{teacher.createTime | date: 'yyyy-MM-dd'}}</td>
    <td>删除</td>
  </tr>
</table>
<router-outlet></router-outlet>
