<div class="row justify-content-center">
  <div class="col-4">
    <h2>添加课程</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
      <div class="form-group">
        <label for="name">名称</label>
        <input type="text" class="form-control" id="name"
               placeholder="名称" formControlName="name" required>
         </div>
      <div class="form-group">
        <label>任课教师</label>
        <app-teacher-select (selected)="onTeacherSelect($event)"></app-teacher-select>
      </div>
      <div class="form-group">
        <label>绑定班级</label>
        <div>
          <label><input type="checkbox"> 班级1</label>
          <label><input type="checkbox"> 班级2</label>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" [disabled]="formGroup.invalid">保存</button>
      </div>
    </form>
  </div>
</div>
